**/*.qmd-pure
/applications_root/
/testing_extensions/
/.vscode
/shim/build
/xovi/temporary/
.qmake.stash
/appload
Makefile

**/*.so
**/*.o
**/moc_*.cpp
**/moc_*.h
/qrc_resources.cpp

examples/appload/full/output/
examples/appload/full/output-rmpp/
examples/appload/full/output-rm/
.*
**/target/
